* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom,
        #aa9a80,
        #7e8266,
        #9dac7c
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* #navbar img {
    width: 200px;
} */

#navbar #logo-link {
    margin-right: auto;
}

#navbar2 .cta-button {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar {
    position: sticky;
    top: 0px;
}

#navbar2 {
    background: linear-gradient(
        to bottom,
        #FBAA60,
        #FBC490
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar2 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* #navbar img {
    width: 200px;
} */

#navbar2 #logo-link2 {
    margin-right: auto;
}

#navbar2 .cta-button {
    background-color: white;
    color: ORANGE;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar {
    position: sticky;
    top: 0px;
}