* {
    box-sizing:border-box;
}

.holy-grail-flexbox {
    display: flex;
    flex-wrap: wrap;
    
}

.holy-grail-flexbox * {
    width:100%;
    padding: 10px;
}

.holy-grail-flexbox .header {
    background-color: #f97171;
}

.holy-grail-flexbox .main-content {
    background-color: #fff
}

.holy-grail-flexbox .left-sidebar {
    background-color: #f5d55f;
}

.holy-grail-flexbox .right-sidebar {
    background-color: #c5ed77;
}

