* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/seamless-pattern-pizza-vector-16013936.jpg);
}

#navbar {
    background: linear-gradient(
        to right,
        #e8b40f,
        #eaca17,
        #eff425,
        #eaff5d,
        #eac15d
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #006837;
    padding: 24px;
}

#navbar #logo img {
    width: 100px;
}

#navbar #name img {
    width: 150px;
}

#navbar #logo-link {
    margin-right: auto;
}

#navbar {
    position: sticky;
    top: 0px;
}


#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#footer {
    background: linear-gradient(
        to bottom,
        #e8b40f,
        #eaca17,
        #eff425,
        #eaff5d,
        #eac15d
    );
    color: green;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: green;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar a {
    padding: 8px 0px;
}

#footer-columns-navbar img {
    width: 100px
}

#footer-columns-navbar:hover a {
    text-decoration: underline;
}

#hero-3 {
    background-image: url("../images/pexels-muffin-1653877.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-3 .hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

#hero-3 h2 {
    font-weight: bold;
    color: #black;
    border: 5px solid #750e09;
    padding: 5px;
    font-size: 10vw;
    margin-bottom: 9vh;
    margin-right: 9vw;
}


#hero-3 a {
    font-size: 3vw;
    display: inline-block;
    background-color: #c12720;
    border: 5px solid #750e09;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 9vh 5vw 10vh 0px;
}

.pagelayout {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
}

.pagelayout h1 {
    font-size: 55px;
    border: 5px solid black;
    padding: 10px;
}

.section-1 {
    background-color: #c7b299;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 48px 0px;
}

.section-1 .image-container {
    flex: 1;
}

.section-1 .text-container {
    flex: 1;
    padding: 15px;
}

.section-1 .image-container img{
    width: 100%
}

.section-1 .text-container h3 {
    font-size: 48px;
}

#menu-contents {
    display: flex;
    background-color: #c7b299;
    margin: 5px;
}

#menu-contents p {
    padding: 2px;
}