* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: cursive;
}

#hero-1 {
    background-image: url("../images/flower1.jpg");
    height: 100vh;
    background-size: auto;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
    border: 10px solid pink;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

.vertical-masonry-gallery h3 {
    padding: 20px;
}